body{
    background-color: #F5EDED;
}

.brand-logo{
    width: 25px;
    border-radius: 15px;
}

.navbar{
    background-color: #E2DAD6;
    border: 0;
}

input, textarea, .button-form{
    background-color: #fbf8f8 !important;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #E2DAD6;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid 1px #e7e7e7;
}

.jumbotron{
    background-color: #E2DAD6;
}

#main {
    margin-left: 160px;
    padding: 0px 10px;
    margin-top: 70px !important;
}

.left-buttons {
    width: 125px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-radius: 10px !important;
    background-color: #7FA1C3;
    color: black;
    border: solid 1px #6482AD;
    outline: none;
}

.left-buttons:hover {
    background-color: #99b4cf;
}

.btn-group-horizontal{
    margin-left: 5px !important;
    margin-right: 5px !important;
    width: 100px !important;
}

@media (min-width: 990px) {
    .btn-group-horizontal {
        display: none;
    }
}

@media (max-width: 989px) {
    .hide-on-small {
        display: none;
    }
    #main {
        margin-left: 0px;
    }
}

.jumbotron{
    border-radius: 10px;
}

.person{
    width: 200px;
    padding-bottom: 20px;
}

.person:hover{
    filter: brightness(110%);
}

.header1{
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragraph1{
    font-size: large;
    color: #777;
    padding-top: 30px;
}

.mission-vision{
    width: 350px;
}

footer{
    background-color: #E2DAD6;
    height: 200px;
    margin-top: 40px !important;
    border-radius: 10px;
    margin-bottom: 30px;
}

.social-img{
    background-color: rgba(119, 119, 119, 0.2);
    padding: 20px !important;
    margin-top: 50px !important;
    width: 100px;
    border-radius: 10px;
}

.social-img:hover{
    background-color: rgba(150, 150, 150, 0.5);
    padding: 20px !important;
    margin-top: 50px !important;
    width: 100px;
    border-radius: 10px;
}




.log-btn{
    width: 20%;
    margin-right: 10px;
}

.log-btn-btn{
    border: solid 1px #6482AD;
    background-color: #7FA1C3;
}

.log-tabs{
    margin-top: 50px;
}



.img-list-product{
    width: 50px !important;
    height: 50px !important;
}

.modal-footer {
    display: flex !important;
    justify-content: space-between !important;
}

.delete-button-container {
    margin-right: auto !important; /* Push the container to the left */
}

.imageResizeProductImage{
    width: 100%;
}

.stock-values{
    background-color: #E2DAD6;
    padding-left: 5px;
    padding-right: 5px;
}